* {
  box-sizing: border-box;  
}

:root{
    --text-color: black; 
    --text-muted-color: #757575;
    --background-color: white;
    --standard-fontfamily: "sharif";
    
    --gray-500: #DEDEDE;
    
/*    Boarders */
    --border-color: var(--gray-500)
}

html, body {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    scroll-behavior: smooth;
    display: grid;
    height: 100vh;
}

.container{
    margin: 20px;
}

.main-page {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
            'aside header'
            'aside main';

    aside{
        grid-area: aside;
    }

    header{
        grid-area: header;
    }

    main {
        grid-area: main;
    }
}

#header{
    border-bottom: 1px solid var(--border-color);
    padding: 2rem;
    display: flex;
    justify-content: end;
    align-content: center;
}
